<% source = activity.trackable.source_event %>
<% destination = activity.trackable.destination_event %>
<% current_user ||= local_assigns[:p][:current_user] %>
<% source_link = deleted_org_safe_link(source) %>
<% destination_link = deleted_org_safe_link(destination) %>

<% if activity.trackable.card_grant.present? %>
  <%= render layout: "/public_activity/common", locals: { activity:, current_user: } do %>
    rejected a <%= render_money activity.trackable.amount %> card grant on
    <%= source_link %> for
    <span class="muted"><%= activity.trackable.card_grant.user&.name || activity.trackable.card_grant.email %></span>
  <% end %>
<% else %>
  <%= render layout: "/public_activity/common", locals: { activity:, current_user: } do %>
    rejected a <%= render_money activity.trackable.amount %> transfer from <%= source_link %> to <%= destination_link %>
  <% end %>
<% end %>
